name: Generate Snake Animation
on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}   # IMPORTANT

      - name: Generate GitHub Contribution Snake Animation
        uses: Platane/snk@v3
        with:
          github_user_name: g-rashmi
          outputs: |
            output/github-contribution-grid-snake.svg
            output/github-contribution-grid-snake-dark.svg

      - name: Commit and Push changes
        uses: EndBug/add-and-commit@v9
        with:
          add: "output"
          pull: true
          message: "Updated snake animation"
          token: ${{ secrets.GITHUB_TOKEN }}   # IMPORTANT
