name: Generate Snake Animation

on:
  schedule:
    - cron: "0 0 * * *"  # runs daily
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: g-rashmi
          outputs: |
            output/snake.svg
            output/snake-dark.svg

      - name: Commit and push
        uses: EndBug/add-and-commit@v9
        with:
          add: "output"
          message: "Generated Snake Animation"
